In [15]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import datetime
from datetime import timedelta

import warnings
warnings.filterwarnings(action='ignore') 

# 사이킷런
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [2]:
pd.set_option('display.max_row', 5000)
pd.set_option('display.max_columns', 100)

from matplotlib import font_manager, rc
import matplotlib
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()

rc('font', family=font_name)

matplotlib.rcParams['axes.unicode_minus'] = False

# 지연변수 만들기
* 각 농가별 주차별로
* 농가 모두 합쳐서 전체 표본을 대상으로
</br>
</br>지연 시간은 5주 ~ 10주까지 돌려보자
1. 생장길이
2. 경경
3. 화방높이

----
# 사용자 지정함수

In [7]:
# 생육 데이터 로드
def sang_data_load(sang_farm_name):
    n = 'C:\\농업기술원\\1차\\2018\\2018-2019 토마토_생육(원본)/'+sang_farm_name+'.xlsx'
    col = ['농가명', 'Date', 'Year', 'Month', 'Day', 'Week', 'WeekNum', 'Sample', '생장길이', '화방높이', '줄기굵기']
    sang = pd.read_excel(n)
    sang = sang[col]
    return sang

In [21]:
# 환경 데이터 로드
def env_data_load(env_farm_name):
    n = 'C:\\농업기술원\\1차\\2018\\2018-2019 토마토_환경(원본)/'+env_farm_name+'.xlsx'
    #col = ['date', '내부온도', '내부습도', '지온', '지습', '이슬점', 'CO2', '외부온도', '풍속', '일사량', '누적일사량','강우', '포화수분', '절대습도', '수분부족분', '이중창환기온도', '환기온도', '난방온도']
    col = ['date', '내부온도', '내부습도', 'CO2', '누적일사량']
    env = pd.read_excel(n)
    env = env[col]
    return env

In [9]:
# 주차 추가
def add_weeknum(sang_df):
    sang_df['diff']=sang_df['WeekNum'].shift(1)
    sang_df['diff2']=sang_df['WeekNum']-sang_df['diff']
    
    num=-1
    test_week=[]
    for i in range(len(sang_df)):
        if sang_df['diff2'].loc[i]!=0:
            num+=1
            test_week.append(num)
        else:
            test_week.append(num)
    del sang_df['diff']
    del sang_df['diff2']
    return test_week

In [10]:
# Date 추가
def env_add_Date(env_df,생육조사기간):
    df=pd.DataFrame()
    for i in range(len(생육조사기간)-1):
        start_i = 생육조사기간[i]+timedelta(hours=12)
        end_i = 생육조사기간[i+1]+timedelta(hours=12)

        df2 = env_df[(env_df['date']>=start_i) & (env_df['date']<end_i)]
        df2['Date']=생육조사기간[i+1]


        df=pd.concat([df,df2])
    return df

In [11]:
# 생육 Date와 환경 Date 매칭
def match_test_weeknum(sang_data,env_data):
    dic=dict(zip(sang_data['Date'],sang_data['test_weeknum']))
    result=env_data.replace({"Date":dic})["Date"]
    return result

In [12]:
# 1주일 단위로 각 변수 집계
def cal_col(df,avg_col_list,cumsum_col_list):
    # 평균
    avg_df=df[avg_col_list]
    
    
    # 누적합
    cumsum_df=df[cumsum_col_list]

In [22]:
env_data.head(5)

                     date  내부온도  내부습도  CO2  누적일사량       Date  주차
35264 2018-11-19 12:00:00  23.5  60.4  282    525 2018-11-26   1
35265 2018-11-19 12:01:01  23.4  58.9  287    528 2018-11-26   1
35266 2018-11-19 12:02:00  23.4  58.6  290    531 2018-11-26   1
35267 2018-11-19 12:03:00  23.4  58.9  283    535 2018-11-26   1
35268 2018-11-19 12:04:00  23.3  59.0  287    538 2018-11-26   1

In [27]:
no_avg_list='누적일사량'
avg_df=env_data[env_data.columns.difference([no_avg_list])]

In [12]:
no_cumsum_list=['내부온도','내부습도','CO2']
avg_df=env_data[env_data.columns.difference([no_avg_list])]

In [ ]:
# shift n주차
def last_week(n):

----
# 1. 생장길이

In [18]:
# 한 농장 sang 로드
sang_data = sang_data_load('민수네토마토_강윤성_생육')

# 한 농장 env 로드
env_data = env_data_load('민수네토마토_강윤성_환경')

# 한 농장에 주차 추가
sang_data['test_weeknum']=add_weeknum(sang_data)

# 환경에 Date컬럼 추가
생육조사기간=sorted(list(set(list(sang_data['Date']))))
env_data=env_add_Date(env_data,생육조사기간)

# 환경 데이터에 주차 컬럼 추가
env_data['주차']=match_test_weeknum(sang_data,env_data)

# 일주일단위로 집계
#env_data_week=cal_col()

NameError: name 'cal_col' is not defined

,date,내부온도,내부습도,지온,지습,이슬점,CO2,외부온도,풍속,일사량,누적일사량,강우,포화수분,절대습도,수분부족분,이중창환기온도,환기온도,난방온도,Date,주차
35264,2018-11-19 12:00:00,23.5,60.4,40.0,2.0,14.2,282,12.0,0,484,525,0,21.2,12.2,9.0,19.8,21.6,18.0,2018-11-26,1
35265,2018-11-19 12:01:01,23.4,58.9,40.0,2.0,13.7,287,12.2,0,490,528,0,20.8,11.8,9.1,19.8,21.7,18.0,2018-11-26,1
35266,2018-11-19 12:02:00,23.4,58.6,39.8,2.0,13.5,290,12.1,0,494,531,0,20.8,11.7,9.1,19.8,21.7,18.0,2018-11-26,1
35267,2018-11-19 12:03:00,23.4,58.9,40.0,2.0,13.8,283,12.2,0,507,535,0,20.8,11.8,8.9,19.8,21.8,18.0,2018-11-26,1
35268,2018-11-19 12:04:00,23.3,59.0,39.8,2.0,13.7,287,12.1,0,500,538,0,20.8,11.7,9.1,19.8,21.8,18.0,2018-11-26,1
35269,2018-11-19 12:05:00,23.2,58.7,39.7,2.0,13.5,286,12.2,0,497,541,0,20.7,11.7,9.0,19.8,21.8,18.0,2018-11-26,1
35270,2018-11-19 12:06:00,23.3,58.6,39.8,2.0,13.1,289,12.4,0,510,545,0,20.5,11.3,9.1,19.8,21.9,18.0,2018-11-26,1
35271,2018-11-19 12:07:00,23.2,58.6,40.1,2.0,12.9,287,12.4,0,510,548,0,20.4,11.2,9.2,19.8,21.9,18.0,2018-11-26,1
35272,2018-11-19 12:08:01,23.2,58.7,40.0,2.0,13.0,284,12.3,0,510,551,0,20.3,11.2,9.1,19.8,21.9,18.0,2018-11-26,1
35273,2018-11-19 12:09:00,23.2,58.2,39.9,2.0,13.0,291,12.1,0,506,555,0,20.3,11.2,9.1,19.8,21.9,18.0,2018-11-26,1
35274,2018-11-19 12:10:00,23.1,57.8,39.6,2.0,12.8,287,12.7,0,502,558,0,20.3,11.1,9.2,19.8,21.9,18.0,2018-11-26,1
35275,2018-11-19 12:11:00,23.1,58.0,39.8,2.0,12.9,293,12.1,0,500,562,0,20.3,11.2,9.1,19.8,21.8,18.0,2018-11-26,1
35276,2018-11-19 12:12:00,22.9,57.7,39.6,2.0,13.0,291,11.9,0,491,565,0,20.3,11.2,9.1,19.9,21.8,18.0,2018-11-26,1
35277,2018-11-19 12:13:00,22.9,58.0,39.9,2.0,13.3,290,12.3,0,496,568,0,20.5,11.5,8.9,19.9,21.8,18.0,2018-11-26,1
35278,2018-11-19 12:14:00,22.9,57.3,40.0,2.0,13.2,291,12.2,0,498,571,0,20.4,11.4,9.0,19.9,21.8,18.0,2018-11-26,1
35279,2018-11-19 12:15:01,22.9,57.4,39.7,2.0,13.1,293,12.4,0,497,575,0,20.4,11.3,9.1,19.9,21.8,18.0,2018-11-26,1
35280,2018-11-19 12:16:00,23.0,56.9,40.0,1.9,13.0,292,12.3,0,501,578,0,20.5,11.2,9.3,19.9,21.9,18.0,2018-11-26,1
35281,2018-11-19 12:17:00,23.2,56.9,40.2,2.0,13.1,291,12.4,0,503,581,0,20.8,11.3,9.5,19.9,21.9,18.0,2018-11-26,1
35282,2018-11-19 12:18:00,23.3,57.5,39.8,2.0,13.2,287,12.7,0,508,585,0,20.8,11.4,9.4,19.9,22.0,18.0,2018-11-26,1
35283,2018-11-19 12:19:00,23.2,58.0,39.7,2.0,13.2,288,12.3,0,510,588,0,20.7,11.4,9.3,19.9,22.0,18.0,2018-11-26,1
35284,2018-11-19 12:20:00,23.2,57.7,39.5,2.0,13.0,287,12.1,0,508,591,0,20.6,11.2,9.4,19.9,22.0,18.0,2018-11-26,1
35285,2018-11-19 12:21:01,23.1,57.1,39.5,2.0,12.7,289,12.2,0,502,595,0,20.4,11.0,9.4,19.9,21.9,18.0,2018-11-26,1
35286,2018-11-19 12:22:00,23.0,57.0,39.5,2.0,12.4,292,12.1,0,506,598,0,20.3,10.8,9.5,19.9,22.0,18.0,2018-11-26,1
35287,2018-11-19 12:23:00,22.9,57.0,39.6,2.0,12.4,291,12.2,0,509,602,0,20.3,10.8,9.5,19.9,22.0,18.0,2018-11-26,1
35288,2018-11-19 12:24:00,23.1,57.4,39.6,2.0,12.7,291,12.4,0,506,605,0,20.4,11.0,9.4,19.9,22.0,18.0,2018-11-26,1
35289,2018-11-19 12:25:00,23.2,58.4,39.5,2.0,13.2,290,12.3,0,499,608,0,20.7,11.4,9.4,20.0,22.0,18.0,2018-11-26,1
35290,2018-11-19 12:26:00,23.3,58.8,39.4,2.0,13.6,286,12.5,0,493,612,0,20.9,11.7,9.2,20.0,22.0,18.0,2018-11-26,1
35291,2018-11-19 12:27:00,23.5,59.6,39.7,2.0,14.0,288,12.6,0,497,615,0,21.2,12.0,9.2,20.0,22.0,18.0,2018-11-26,1
35292,2018-11-19 12:28:01,23.6,59.5,39.6,2.0,13.9,281,12.8,0,489,618,0,21.3,11.9,9.4,20.0,22.0,18.0,2018-11-26,1
35293,2018-11-19 12:29:00,23.7,59.5,39.4,2.0,13.7,272,12.9,0,504,621,0,21.4,11.8,9.6,20.0,22.1,18.0,2018-11-26,1
35294,2018-11-19 12:30:00,23.8,58.7,39.2,2.0,13.9,277,12.5,0,501,625,0,21.6,11.9,9.7,20.0,22.1,18.0,2018-11-26,1
35295,2018-11-19 12:31:00,23.8,58.3,39.5,2.0,13.9,278,12.9,0,500,628,0,21.4,11.9,9.5,20.0,22.1,18.0,2018-11-26,1
35296,2018-11-19 12:32:00,23.6,58.1,39.3,2.0,13.5,284,12.8,0,508,631,0,21.2,11.6,9.6,20.0,22.2,18.0,2018-11-26,1
35297,2018-11-19 12:33:00,23.5,56.4,39.6,2.0,12.7,285,12.5,0,510,635,0,20.9,11.0,9.9,20.0,22.3,18.0,2018-11-26,1
35298,2018-11-19 12:34:01,23.2,56.3,39.4,2.0,12.4,285,12.6,0,516,638,0,20.5,10.8,9.7,20.0,22.4,18.0,2018-11-26,1
35299,2018-11-19 12:35:00,23.1,55.4,39.3,2.0,12.1,283,12.4,0,508,642,0,20.5,10.6,9.9,20.0,22.3,18.0,2018-11-26,1
35300,2018-11-19 12:36:00,23.0,55.4,39.4,2.0,12.0,288,12.6,0,510,645,0,20.4,10.5,9.9,20.0,22.3,18.0,2018-11-26,1
35301,2018-11-19 12:37:00,23.0,56.3,39.2,2.0,12.5,288,12.8,0,511,648,0,20.5,10.9,9.6,20.0,22.4,18.0,2018-11-26,1
35302,2018-11-19 12:38:00,23.1,56.5,39.2,2.0,12.6,291,13.0,0,508,652,0,20.7,10.9,9.8,20.0,22.3,18.0,2018-11-26,1
35303,2018-11-19 12:39:00,23.2,57.0,39.2,2.0,12.9,288,12.7,0,505,655,0,20.9,11.2,9.8,20.0,22.3,18.0,2018-11-26,1
35304,2018-11-19 12:40:00,23.4,57.8,39.1,2.0,13.3,288,12.8,0,492,659,0,21.3,11.5,9.8,20.0,22.2,18.0,2018-11-26,1
35305,2018-11-19 12:41:01,23.6,58.4,38.7,2.0,13.9,282,12.7,0,495,662,0,21.7,11.9,9.8,20.0,22.3,18.0,2018-11-26,1
35306,2018-11-19 12:42:00,23.9,58.1,39.0,2.0,14.0,282,13.0,0,490,665,0,22.0,12.0,10.0,20.0,22.2,18.0,2018-11-26,1
35307,2018-11-19 12:43:00,23.9,58.0,39.0,2.0,13.8,283,13.0,0,492,668,0,22.0,11.9,10.1,20.0,22.3,18.0,2018-11-26,1
35308,2018-11-19 12:44:00,23.9,57.7,39.0,2.0,13.7,278,12.8,0,516,672,0,21.7,11.8,10.0,20.0,22.5,18.0,2018-11-26,1
35309,2018-11-19 12:45:00,23.8,57.7,39.1,2.0,13.6,283,12.7,0,521,675,0,21.6,11.7,9.9,20.0,22.6,18.0,2018-11-26,1
35310,2018-11-19 12:46:00,23.8,57.1,39.1,2.0,13.7,285,12.8,0,523,679,0,21.7,11.8,9.9,20.0,22.6,18.0,2018-11-26,1
35311,2018-11-19 12:47:00,23.9,57.4,39.0,2.0,13.9,277,13.1,0,524,682,0,21.8,11.9,9.8,20.0,22.6,18.0,2018-11-26,1
35312,2018-11-19 12:48:01,23.9,57.4,39.1,2.0,14.0,277,13.0,0,527,686,0,21.8,12.0,9.8,20.0,22.7,18.0,2018-11-26,1
35313,2018-11-19 12:49:00,23.9,56.5,38.9,2.0,13.9,275,13.0,0,532,689,0,21.8,11.9,9.9,20.0,22.8,18.0,2018-11-26,1
35314,2018-11-19 12:50:00,23.9,56.2,39.2,2.0,13.9,276,13.5,0,552,693,0,21.8,11.9,9.9,20.0,23.0,18.0,2018-11-26,1
35315,2018-11-19 12:51:00,24.0,56.0,38.7,2.0,13.9,273,13.6,0,512,696,0,22.0,11.9,10.1,20.0,22.6,18.0,2018-11-26,1
35316,2018-11-19 12:52:00,24.1,56.1,38.7,2.0,13.9,273,13.6,0,508,700,0,22.1,11.9,10.1,20.0,22.6,18.0,2018-11-26,1
35317,2018-11-19 12:53:01,24.3,56.3,38.9,2.0,14.0,277,12.9,0,503,703,0,22.2,12.0,10.2,20.0,22.5,18.0,2018-11-26,1
35318,2018-11-19 12:54:00,24.4,56.8,38.7,2.0,14.3,272,12.8,0,498,706,0,22.5,12.3,10.2,20.0,22.5,18.0,2018-11-26,1
35319,2018-11-19 12:55:00,24.4,57.4,38.8,2.0,14.4,272,13.0,0,500,710,0,22.5,12.3,10.2,20.0,22.5,18.0,2018-11-26,1
35320,2018-11-19 12:56:00,24.5,56.6,38.7,2.0,14.3,271,13.1,0,502,713,0,22.6,12.2,10.4,20.0,22.6,18.0,2018-11-26,1
35321,2018-11-19 12:57:00,24.3,56.9,38.7,2.0,14.2,270,12.7,0,510,716,0,22.4,12.2,10.3,20.0,22.7,18.0,2018-11-26,1
35322,2018-11-19 12:58:00,24.1,56.4,38.3,2.0,14.0,278,12.6,0,530,720,0,21.9,12.0,9.9,20.0,22.9,18.0,2018-11-26,1
35323,2018-11-19 12:59:00,24.0,55.1,38.6,2.0,13.3,280,12.7,0,534,723,0,21.7,11.4,10.3,20.0,23.0,18.0,2018-11-26,1
35324,2018-11-19 13:00:00,23.8,54.1,38.7,2.0,12.7,281,13.0,0,518,727,0,21.4,11.0,10.4,20.0,22.8,18.0,2018-11-26,1
35325,2018-11-19 13:01:00,23.8,54.3,38.6,2.1,12.8,279,13.0,0,506,730,0,21.4,11.1,10.3,20.0,22.7,18.0,2018-11-26,1
35326,2018-11-19 13:02:00,23.7,54.9,38.5,2.0,13.0,286,12.8,0,518,734,0,21.4,11.3,10.1,20.0,22.9,18.0,2018-11-26,1
35327,2018-11-19 13:03:00,23.8,54.0,38.3,2.0,12.7,285,12.7,0,520,737,0,21.6,11.0,10.6,20.0,22.9,18.0,2018-11-26,1
35328,2018-11-19 13:04:00,23.8,54.6,38.6,2.0,12.8,284,13.0,0,519,741,0,21.7,11.1,10.6,20.0,22.9,18.0,2018-11-26,1